{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block content %}
    <div class="forgot-password-section container">
        <!-- Forgot Password Form -->
        {% if form_type == "forgot" %}
            <h2>Reset Your Password</h2>
            <form action="{{ url_for('auth.forgot_password') }}" method="post">
                {{ form.hidden_tag() }}
                
                {{ render_field(form.email) }}
                {{ form.submit(class="btn btn-primary") }}
            </form>

        <!-- Error Handling-->
        {% elif form_type == "error" %}
        <div class="mb-3">
            {{ error }}
        </div>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Go to Login</a>

        <!-- Email Found or Not Found Confirmation -->
        {% elif form_type == "sent_or_not_found" %}
            <div class="mb-3">
                <h2>If An Account Exists, Reset Link Sent</h2>
                <p>Please check your email for the password reset link. Make sure to check your spam folder.</p>
                <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Go to Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
