{% from "macros.html" import render_field %}
{% extends "layout.html" %} 

{% block content %}
    <div class="reset-password-section container">
        <!-- Reset Password Form -->
        {% if form_type == "reset" %}
            <h2>Set a New Password</h2>
            <form action="{{ url_for('auth.reset_password', token=token) }}" method="post">
                {{ form.hidden_tag() }}

                {{ render_field(form.password) }}
                {{ render_field(form.confirmation) }}
                {{ form.submit(class="btn btn-primary")}}
            </form>
        
            <!-- Error Handling -->
        {% elif form_type == "error" %}
            <h3>The reset link is invalid or expired.</h3>
            <a href="{{ url_for('auth.login')}}" class="btn btn-primary">Go to Login</a>

        <!-- Confirming new password submission -->
        {% elif form_type == "success" %}
            <h2>Your password has been successfully reset.</h2>
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Go to Login</a>
        {% endif %}
    </div>
{% endblock %}
