{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
         {% if edit_form %}
            <h1>✏️ Edit Order</h1>
        {% else %}
            <h1>➕ Add New Order</h1>
        {% endif %}
        
        <div class="card mt-4">
            <div class="card-body">
                <form action="{{ url_for('order_new') }}" method="post">
                    {{ form.hidden_tag() }}
                    
                    {{ render_field(form.order_number) }}
                    {{ render_field(form.customer_id) }}
                    {{ render_field(form.product) }}
                    {{ render_field(form.quantity) }}
                    {{ render_field(form.price) }}
                    {{ render_field(form.status) }}
                    
                    <div class="mt-4">
                        {{ form.submit(class="btn btn-primary") }}
                        <a href="{{ url_for('orders') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}